@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto_Condensed-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: linear-gradient(135deg, hsl(240, 55%, 37%), hsl(177, 50%, 43%))
    fixed;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.header-section {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(240, 100%, 66%);
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
}

.info-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.achievements-box {
  background-color: hsl(34, 78%, 91%);
  color: hsl(0, 59%, 41%);
  padding: 5px;
  border-radius: 5px;
}

.answers-box {
  background-color: hsl(120, 46%, 40%);
  padding: 5px;
  border-radius: 5px;
}

.main-section {
  max-width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.quiz-section {
  max-width: 1000px;
  min-width: 400px;
  border-radius: 20px;
  box-shadow: 0 0 10px hsl(0, 0%, 31%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  backdrop-filter: blur(30px);
}

.quiz-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  gap: 2em;
}

.progress-section {
  width: 100%;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.progress-section label {
  font-size: 1.4em;
}

progress#answer-progress {
  width: 100%;
  height: 20px;
  accent-color: hsl(120, 100%, 68%);
}

.quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
}

.answer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 20px;
}

.start-button {
  margin-top: 20px;
  background-color: hsl(120, 46%, 40%);
  border-radius: 10px;
  border: none;
  box-shadow: none;
  padding: 5px 10px;
  font-size: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.answer-button {
  color: black;
  background-color: hsl(0, 0%, 80%);
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  font-size: 1.1em;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.start-button-gray {
  margin-top: 20px;
  color: black;
  background-color: hsl(0, 0%, 80%);
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 10px;
}

.start-button-gray:hover {
  background-color: hsl(0, 0%, 75%);
}

.start-button-gray:active {
  background-color: hsl(0, 0%, 85%);
}

.answer-button:hover {
  background-color: hsl(0, 0%, 75%);
}

.answer-button:active {
  background-color: hsl(0, 0%, 85%);
}

.start-button:hover {
  background-color: hsl(120, 46%, 30%);
}

.start-button:active {
  background-color: hsl(120, 46%, 45%);
}

@media only screen and (max-width: 768px) {
  .header-section {
    flex-direction: column;
  }

  .info-boxes {
    margin-top: 20px;
  }

  .answer-section {
    flex-direction: column;
  }
}
